<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--    로그 어펜더-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            로그 패턴-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--    루트 로거 설정-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>